.header {
  height: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  width: 100%;
  padding-right: 5rem;
  position: relative;
}

.hamburger {
  width: max-content;
  cursor: pointer;
  z-index: 5;
}

.bar1,
.bar2,
.bar3 {
  height: 5px;
  background-color: #d69704;
  width: 50px;
  margin: 8px 0 8px 0;
  transition: 0.5s;
  border-radius: 2.5px;
}

.click.bar1 {
  transform: rotate(-45deg) translate(-8px, 10px);
  background-color: #061e3a;
}

.click.bar2 {
  transform: scaleX(0);
  transform-origin: center;
}

.click.bar3 {
  transform: rotate(45deg) translate(-8px, -10px);
  background-color: #061e3a;
}

.menu {
  background-color: #ddd;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 1s;
  transform: translate(100vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu.click {
  transform: translateX(0px);
}

.navigation {
  list-style-type: none;
  font-size: 5rem;
  margin-bottom: 3rem;
}

.listed {
  margin-bottom: 2rem;
  text-align: center;
}

.link {
  text-decoration: none;
  transition: all 0.4s;
  color: #061e3a;
}

a:hover {
  color: #d69704;
  transition: all 0.4s;
}

.cvBtn {
  background-color: #d69704;
  border: none;
  font-family: inherit;
  font-size: 2rem;
  padding: 1rem 3rem;
  border-radius: 1000px;
  cursor: pointer;
  transition: all 0.4s;
}

.cvBtn:hover {
  background-color: #af7b02;
  transition: all 0.4s;
}
